{% extends "base.html" %}
{% block content %}
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">登录账户</h2>
                <form method="post" autocomplete="off" novalidate>
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="mb-3">
                        <label class="form-label">用户名</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-2">
                        <label class="form-label">密码</label>
                        {{ form.password }}
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">登录</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center text-muted mt-3">
            还没有账户? <a href="{% url 'muggle:register' %}" tabindex="-1">注册</a>
        </div>
    </div>
</div>
{% endblock %} 