{% extends "base.html" %}

{% block content %}
<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <form method="post" class="card">
                {% csrf_token %}
                <div class="card-header">
                    <h3 class="card-title">删除货位</h3>
                </div>
                <div class="card-body">
                    <p>您确定要删除货位 "{{ object.warehouse.name }} - {{ object.area_name }} - {{ object.location_code }}" 吗？此操作不可恢复。</p>
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'storage:allocation-list' %}" class="btn btn-link">取消</a>
                    <button type="submit" class="btn btn-danger">确认删除</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} 