{% extends "base.html" %}

{% block content %}
<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <form method="post" class="card">
                {% csrf_token %}
                <div class="card-header">
                    <h3 class="card-title">{{ object.id|yesno:"编辑,新增" }}仓库</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label required">仓库名称</label>
                        <input type="text" class="form-control" name="name" value="{{ object.name|default:'' }}" required>
                        {% if form.name.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ form.name.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">仓库地址</label>
                        <input type="text" class="form-control" name="address" value="{{ object.address|default:'' }}">
                        {% if form.address.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ form.address.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">联系人</label>
                        <input type="text" class="form-control" name="contact" value="{{ object.contact|default:'' }}">
                        {% if form.contact.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ form.contact.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">联系电话</label>
                        <input type="text" class="form-control" name="contact_phone" value="{{ object.contact_phone|default:'' }}">
                        {% if form.contact_phone.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ form.contact_phone.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'storage:warehouse-list' %}" class="btn btn-link">取消</a>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} 